.logon-container {
  display: flex;
}

.logon-container {
  align-items: center;
  justify-content: space-between;
}

.logon-container {
  margin: 0 auto;
  width: 100%;
  max-width: 70rem;
  height: 100vh;
  flex-direction: row;
}

.logon-container section.form {
  width: 100%;
  max-width: 21.875rem;
  margin-right: 2rem;
}

.logon-container section.form form {
  margin-top: 6.25rem;
}

.logon-container section.form form h1 {
  margin-bottom: 2rem;
}

.logon-container section.form form .button {
  margin-top: 2rem;
}
